doctype html5
html
	head
		title Index page
		style.
			#progress {
			width: 0%;
			height: 2px;
			background: blue;
			}
	body
		h1 Index page
		div(id='operation')
		input(type='text', id='answer')
		div(id='progress')
		script
			include client.js
